<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="api.js" defer></script>
    <title>Dogs vs Cats</title>
</head>
<body>
    <div id="cont">
        <div id="d">
            <h1 id="dt">Dogs</h1>
            <div>
                <img id="dfighter" src="ds.png" height="250">
            </div>
            <span id="db">
                <button id="dog" style="cursor: pointer">RANDOM FIGHTER</button>
            </span>
        </div>
        <div>
            <div id="vis">
                <label for="search"><h1>Winner</h1></label>
                <input type="search" id="w" value="">
                <input type="submit" id="ws" value="Enter">
            </div>
            <img id="vs" src="vs.png" height="250"/>
        </div>
        <div id="c">
            <h1 id="ct">Cats</h1>
            <div>
                <img id="cfighter" src="cs.png" height="250">
            </div>
            <span id="cb">
                <button id="cat" style="cursor: pointer">RANDOM FIGHTER</button>
            </span>
        </div>
    </div>
</body>
</html>
